*{
     padding: 0;
     margin: 0;
}
body{
     position: relative;
      background: linear-gradient(90deg, rgba(34,82,3,0.5) 0%, rgba(90,117,67,0.8) 99%, rgba(78,119,82,0.5) 100%),url(./1.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100vh; 

} 
.header{
     display: flex;
     width: 700px;
}
nav{
     display:flex;
     align-items:center;
     justify-content:space-evenly;
     width:100%;
     flex-wrap: wrap;
     background: rgb(34,82,3);
     background: linear-gradient(90deg, rgba(34,82,3,1) 0%, rgba(90,117,67,1) 99%, rgba(78,119,82,1) 100%);
     color:black;
     position: absolute;
     
   
}

.nav-header h1{
  
    cursor:pointer;
    margin:10px 0px;
}
ul{
     list-style-type:none;
     display:flex;
     margin:10px 0px;
     justify-content: space-evenly;
     
}

ul li a{
     text-decoration: none;
     color:black;
     margin:0px 30px;
     font-size:20px;
}
.header{
     display: flex;
     width:100%;
     
     justify-content: space-evenly;
}
.left{
     
     display: block;
     position: absolute;
     margin: 250px 100px;
     width:600px;
  

}
.btm{
     margin-left:80px;
}
button{
     
     margin:30px 15px;
     padding:10px 30px;
     border-radius: 15px;
     border: none;
     outline:none;
     color:white;
     font-size:20px;
     background:linear-gradient(90deg, rgba(34,82,3,1) 0%, rgba(90,117,67,1) 99%, rgba(78,119,82,1) 100%) ;
}
.span{
     color:green;
}
ul li a:hover{
   color:white;
}
button:hover{
     box-shadow: 0 0 2px 2px black;
}
.left h1{
     color:rgb(193, 226, 193);
}
.left p{
     color:rgb(255, 255, 255);
}